<html>
  <head>
    <style>
      p {
        display: block;
        font-size: 30px;
      }
      .main-container {
        text-align: center;
        font-size: 30px;
        margin-top: 25%;
      }
    </style>
  </head>
  <body>
    <div class="main-container">
      <p>
        <a href="/start">Start Game!</a>
      </p>    
    </div>
  </body>
</html>
